@model IEnumerable<assignment2.Models.Schedule>
@ViewBag.userId

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>@ViewBag.userEmail</p>
<p>
    <a asp-action="Create">Create New Coaching Session</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (ViewBag.userEmail == item.CoachEmail){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td><a asp-controller="ScheduleMembers" asp-action="checkEnrolled" asp-route-id="@item.Id">Who is enrolled</a></td>
        </tr>
    }
        
}
    </tbody>
</table>
